*{
    font-family: 'Belleza', sans-serif;
}
body{
    background-color: #fafbfc;
}
p{
    text-align: justify !important;
    font-size: 1.2em;
}
.cover {
    width: 100%;
    background-image: url(images/work-731198_1920.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}
.cover > div{
    position: relative;
    top: 42%;
    transform: translateY(-42%);
}
.progress-bar {
    width: 100%;
    background-color: #ddd;
} 
.it-bar{
    width: 1%;
    height: 2em;
    background-color: #4aa1d3;
}
.lang-bar{
    width: 1%;
    height: 2em;
    background-color: #199715;
}
.certificate{
    width: 75%;
}
iframe{
    width: 100%;
    height: 100vh;
}
footer{
    background-color: #a7aeb4;
}
.logo{
    width: 20px;
}
footer h5, footer ul li{
    text-shadow: 1px 1px 5px #333;
}
.hidden-bar{
    position: absolute;
    top: -60px;
}
.visible-bar{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px ;
    transition: all 1s;
}
ul.custom-bullet li::marker {
    color: #0e6fc9;
}